[Unit]
Description=Tomcat Instance Framework
After=mariadb.service
After=mysqld.service
After=oradb.service
After=postgresql.service

[Service]
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
ExecStart=/usr/bin/instance_manager start all
ExecReload=/usr/bin/instance_manager reload all
ExecStop=/usr/bin/instance_manager stop all
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
